<div class="h-full w-full">
  <ul class="flex flex-row gap-3">
    <li>
      <%= link_to "multiplication", "/games/multiplication" %>
    </li>
    <li>
      <%= link_to "addition", "/games/addition" %>
    </li>
    <li>
      <%= link_to "subtraction", "/games/subtraction" %>
    </li>
    <li>
      <%= link_to "division", "/games/division" %>
    </li>
  </ul>
</div>
